@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:wght@300&display=swap');

* _ {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Courgette', sans-serif;
    color: whitesmoke;
    background-color: rgb(114, 114, 114);
    margin: 0;
    padding: 0;
}

/* Header and Footer */

#logo {
    max-height: 96px;
}

header,
footer {
    background: linear-gradient(70deg, #5b3b71 20%, rgba(60, 60, 60, 0.9) 50%, #5b3b71 80%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: xxx-large;
    font-weight: 700;
    letter-spacing: 4px;
    margin: 0;
    padding-right: 1em;
}

#navbar {
    padding-left: 20px;
}

#navbar>li {
    list-style-type: none;
    display: inline;
    margin-right: 24px;
}

#navbar a {
    text-decoration: none;
    color: whitesmoke;
}

#navbar .current {
    color: black;
}

#navbar a:hover {
    border: 2px solid black;
    padding: 4px;
}

footer {
    flex-direction: column;
}

footer>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-top: 1em;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}

footer>div>div {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(34, 34, 48, 1) 35%, rgba(17, 2, 25, 0.7987570028011204) 100%);
    border-radius: 4px;
    text-align: center;
    padding: 1em;
    width: 150px;
    height: 80px;
}

@media (max-width: 600px) {
    #navbar li {
        margin-right: 8px;
    }
}

/* Hero Image */

#hero-image {
    background: url('../images/backbar.jpg') repeat center center;
    background-size: cover;
    height: 300px;
    width: 150%;
    animation: animate 30s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-25%);
    }
}

/* Panel 1 */

.index-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
}

.index-panel>div {
    text-align: center;
}

.index-panel img {
    max-height: 256px;
    max-width: 256px;
    margin: 0 auto;
}

.black-background {
    background-color: black;
}

.grey-background {
    background-color: rgb(114, 114, 114);
    color: black;
}

@media (min-width: 600px) {
    .index-panel {
        flex-direction: row;
    }

    .index-panel>div {
        width: 50%;
    }
}

@media (min-width: 1050px) {
    .index-panel>div {
        width: 33%;
    }
}

/* Index panel 3 */

.index-panel3-background {
    background: url('../images/barbackground.jpg') no-repeat center center;
    background-size: cover;
    padding: 0;
    margin: 0;
    width: 100%;
}
#index-titlebox {
    padding-top: 2em;
}
#index-titlebox h2 {
    background: linear-gradient(77deg, rgba(17,0,36,0.6951155462184874) 0%, rgba(109,4,237,0.700717787114846) 50%, rgba(37,11,97,0.7035189075630253) 100%);
    max-width: 33%;
    margin: 0 auto;
    padding: 1.5em;
    border-radius: 12px;
    font-size: 150%;
    text-align: center;
}
.index-panel3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(150px, auto);
    align-items: flex-start;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    gap: 5em;
    padding: 2em 0;
}

.index-panel3 i {
    font-size: xx-large;
}

.index-panel3 h3 {
    font-size: 140%;
}
.index-panel3 p {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 4px;
}

.index-panel3 > div {
    background: linear-gradient(77deg, rgba(17,0,36,0.6951155462184874) 0%, rgba(109,4,237,0.700717787114846) 50%, rgba(37,11,97,0.7035189075630253) 100%);
    padding: 1.5em;
    border-radius: 12px;
}

.index-panel3 a {
    text-decoration: none;
    text-decoration: underline;
    color: white;
    font-size: 120%;
    font-style: italic;
    padding: 2px;
}

.index-panel3 a:hover {
    color: cyan;
}

@media (max-width:600px) {
    .index-panel3 {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
    }
}

/* Menu */


.menu-background {
    background: url('../images/backbar.jpg') no-repeat center center;
    backdrop-filter: blur(4px);
    background-size: cover;
    width: 100%;
}

.menu-container {
    background: linear-gradient(77deg, rgba(147,71,0,0.7) 0%, rgba(79,0,0,.6) 50%, rgba(251,65,2,.6) 100%);
    display: grid;
    grid-template-columns:  3fr auto 1fr .5fr 3fr auto 1fr;
    grid-template-rows: minmax(150px, auto);
    align-items: flex-start;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.menu-cocktail {
    padding: 12px;
}

.menu-img, .menu-price {
    padding: 12px 0;
    font-size: 150%;
}
.menu-img img {
    height: 140px;
    width: 100px;
}

.menu-break {
    background-color: rgba(0,0,0,.8);
    height: 100%;
}

@media screen and (max-width:550px) {
    .menu-container {
        grid-template-columns: 3fr auto 1fr;
        grid-template-rows: auto;
        width: 100%;
    }

    .menu-break {
        display: none;
    }
}

/* What's On */

#whats-on-background {
    background: url('../images/purple-water.jpg') no-repeat;
    background-size: cover;
    width: 100%;
}

.whats-on-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    gap: 2em;
    padding: 2em;
}

.whats-on-container > div {
    background: radial-gradient(circle, rgba(0,0,0,0.9023984593837535) 0%, rgba(42,42,42,0.896796218487395) 100%);
    padding: 25px;
    width: 70%;
}

.whats-on-container img {
    max-height: 256px;
}